# Since these as are the same ATM explicit is unnecessary.  Creating org groups 
# allows this to be more dynamic.
# 
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Secure the whole repo with these groups or people
* @irony @ErikHellman @JohanObrink @believer

# Secure build actions with these groups or people 
.github/* @irony @ErikHellman @JohanObrink @believer

# Secure source with these groups or people
packages/* @irony @ErikHellman @JohanObrink @believer
