<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-09-13T15:03:55Z</date>
	<key>WorkspacePath</key>
	<string>/Users/cln/src/skolplattformen/skolplattformen/apps/skolplattformen-app/ios/app.xcworkspace</string>
</dict>
</plist>
