name: Run tests on PR

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1

      - name: Install dependencies
        run: |
          npm i -g lerna
          lerna bootstrap

      - name: Run tests
        run: npm test
        env:
          CI: true
