name: Release

on:
  push:
    branches: 
      - main

jobs:
  build:

    runs-on: ubuntu-latest 

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20.6.1'

      - name: Setup timezone
        uses: zcong1993/setup-timezone@master
        with:
          timezone: Europe/Stockholm

      - name: Install dependencies
        run: yarn

      - name: Run tests
        run: cd apps/skolplattformen-app && npm test
        env:
          CI: true

      - name: Check linting
        run: cd apps/skolplattformen-app && npm run lint
        env:
          CI: true

      - name: Create release using semantic-release
        uses: cycjimmy/semantic-release-action@v2
        with:
          semantic_version: 17.1.1
          extra_plugins: |
            @semantic-release/changelog@5.0.1
            @semantic-release/git@9.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
